@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neuropolitical";
  src: url("./assets/fonts/neuropolitical-rg.otf") format("opentype");
}

body {
  font-family: 'Bricolage Grotesque', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
